<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN">
	
	
	
    <Properties>
        <Property name="basePath">logs</Property>
        <Property name="filePattern">${date:yyyy-MMdd@hh-mm-ss}</Property>
    </Properties>
    
    <Appenders>
        <!-- Sortie console -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>

        <!-- Fichier log avec sortie complète -->
        
        <!--<File name="AllFileAppender" fileName="${basePath}/waxliblog-${filePattern}.html">-->
        <File name="AllFileAppender" fileName="${basePath}/AudioSort.html">
        	<HTMLLayout charset="UTF-8" title="waxliblog Info Logs" locationInfo="true" />
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
            
        </File>

        <!-- Fichier log avec uniquement les erreurs -->
        <!-- <File name="ErrorFileAppender" fileName="${basePath}/waxliblog-errors${filePattern}.html">-->
        <File  name="ErrorFileAppender" fileName="${basePath}/AudioSort-errors.html">
        	<HTMLLayout charset="UTF-8" title="waxliblog Warning Logs" locationInfo="true" />
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
     
        </File>
    </Appenders>

    <Loggers>
         <Root level="trace">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AllFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Root>
    </Loggers>
</Configuration>	
	
	